html{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: aqua;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f1f1f1;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}



.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-content h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}